<%- include('./components/head.ejs') %> 
<main>
  <div class="container">
    <h2><%= title %></h2>
    <form action="/game/setPlayers" method="post" class="form-input-text">
      <div class="label-container"><label for="player1">Jugador 1:</label><input type="text" name="[players][0][name]" id="player1" required></div>
      <div class="label-container"><label for="player2">Jugador 2:</label><input type="text" name="[players][1][name]" id="player2" required></div>
      <div class="label-container"><label for="player3">Jugador 3:</label><input type="text" name="[players][2][name]" id="player3" required></div>
      <div class="label-container"><label for="player4">Jugador 4:</label><input type="text" name="[players][3][name]" id="player4" required></div>
      <div class="label-container"><label for="player5">Jugador 5:</label><input type="text" name="[players][4][name]" id="player5" required></div>
      <div class="label-container"><label for="player6">Jugador 6:</label><input type="text" name="[players][5][name]" id="player6" required></div>
      <div class="label-container"><label for="player7">Jugador 7:</label><input type="text" name="[players][6][name]" id="player7" required></div>
      <input type="hidden" name="gameId" value="<%= gameId %>">
      <input type="submit" class="menu-button button-submit" value="Cargar Jugadores">
    </form>
  </div>
</main>
<%- include('./components/footer.ejs')  %> 